<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name="MainActivity"
            android:exported="true"
            android:label="Main"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="Second" />

        <activity
            android:name=".ImageActivity"
            android:exported="true"
            android:label="@string/working_with_images" />

        <activity
            android:name="ThirdActivity"
            android:exported="true"
            android:label="Third" />

        <activity
            android:name="FourthActivity"
            android:exported="true"
            android:label="fourth" />

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Theme.Login" />


        <activity
            android:name=".datatransfer.TransferDataActivity"
            android:exported="true"
            android:label="TransferDataActivity" />
        <activity
            android:name=".datatransfer.ShowDataActivity"
            android:exported="true"
            android:label="ShowDataActivity" />

        <activity
            android:name=".activityLifecycle.LifeCycleActivity"
            android:exported="true" />

        <activity
            android:name=".data.SharedPreferencesActivity"
            android:exported="true"
            android:label="Shared Preferences" />


    </application>

</manifest>